#content{
    background-color: #54426B;
    color: #dbd5b2;

    margin: 0;
}

#page-title{
    font-size: 30px;
    text-align:center;
    padding: 20px;

    position: fixed;
    top: 0;
    width: 100%;
    
    background-color:  #ac3931;

    z-index: 3;

    overflow: hidden;
}

.below-title{
    margin-top: 70px;

}

#form{
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 20px;
    justify-items: center;


    position: fixed;
    left: 0;

    height: 100%;
    width: 250px;

    margin: 0;
    padding-top: 30px;

    background-color: #6a8eae;
}

label{
    font-size: 20px;
}

input{
    width: 70%;
    margin: auto;
}



#bookshelf{
    display: grid;
    gap: 50px;

    grid-template-columns: repeat(3, 1fr);

    position: absolute;

    left: 250px;

    margin: 30px;

    padding-bottom: 30px;
  
}

@media (max-width:1200px){
    #bookshelf{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:850px){
    #bookshelf{
        grid-template-columns: repeat(1, 1fr);
    }
}

.book{
    display: grid;
    justify-items: center;

    grid-template-areas: 
    "title title"
    "author author"
    "pages pages"
    "read delete";

    width: 280px;
    height: 280px;

    gap: 0;

    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.title{
    font-size:28px;
    grid-area: title;
}

.author{
    font-size: 25px;
    grid-area: author;
}

.pages{
    font-size: 20px;
    grid-area: pages;
}

.button{
    margin: 10px;
    width: 90px;
    font-size: 16px;
    border-radius: 20px;
}

.read{
    grid-area: read;

    background-color: rgba(88, 98, 121, 0.671);
    color: rgb(255, 91, 86);

    border: none;
    box-shadow: 0 0 6px rgb(32, 202, 32);
}

.read:hover{
    background-color: rgba(103, 115, 143, 0.671);
}

.read:focus{
    
}

.delete-button{
    grid-area: delete;
    background-color: rgba(88, 98, 121, 0.671);

    color: rgba(224, 221, 213, 0.801);

    border: none;
    box-shadow: 0 0 6px rgba(168, 187, 168, 0.801);
}

.delete-button:hover{
    background-color: rgba(103, 115, 143, 0.671);
}