#content{
    background-color: #54426B;
    color: #dbd5b2;

    margin: 0;
}

#page-title{
    font-size: 30px;
    text-align:center;
    padding: 20px;

    position: fixed;
    top: 0;
    width: 100%;
    
    background-color:  #ac3931;

    z-index: 3;

    overflow: hidden;
}

.below-title{
    margin-top: 76px;
}

#form{
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 20px;
    justify-items: center;


    position: fixed;
    left: 0;

    height: 100%;
    width: 250px;

    padding-top: 30px;

    background-color: #6a8eae;
}

label{
    font-size: 20px;
}

input{
    width: 70%;
    margin: auto;
}



#bookshelf{
    display: grid;
    gap: 50px;

    grid-template-columns: repeat(3, 1fr);

    position: absolute;

    left: 20%;

    margin: 30px;

    padding-bottom: 30px;
  
}

.book{
    display: grid;
    justify-items: center;

    width: 300px;
    height: 300px;

    gap: 0;

    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.title{
    font-size: 30px;
}

.author{
    font-size: 25px;
}

.pages{
    font-size: 20px;
}

.read{
    font-size: 20px;
}